{% extends "base.html" %}
{% block title %}Order History{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block nav %}
    {{ normalNavControls.normalNavControls() }}
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">face</span>
        <div>
            <h1>My Profile</h1>
            <h6 class="m-0">{{ session["user"]["email"] }}</h6>
        </div>
    </div>
    <div class="row">
        {{ profileControls.profileControls(4) }}
        <div class="col-lg-9">
            <div class="mb-4">
                <div class="d-flex align-items-center mb-1">
                    <h2 class="h4 flex-grow-1 m-0">Order History</h2>
                    <a href="{{ url_for("refunds.viewAllRefund") }}">
                        <button class="btn custom-btn w-100 w-lg-auto">View Refunds</button>
                    </a>
                </div>
                <h3 class="h6 fw-bold flex-grow-1 mb-0">You can book appointments by accessing the details of the
                    order</h3>
            </div>
            {% if orders|length > 0 %}
                {% for order in orders %}
                    <div class="card white mb-3">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Order #{{ order.getId() }}</h5>
                            <div class="row">
                                <div class="col-6 col-md-3">
                                    {{ infoBox.infoBox("Total Price", "$" + "%.2f"|format(order.getTotalPrice())|string) }}
                                </div>
                                <div class="col-6 col-md-3">
                                    {{ infoBox.infoBox("No. of Items", order.getCart()|length) }}
                                </div>
                                <div class="col-6 col-md-3">
                                    {{ infoBox.infoBox("Date & Time", order.getDateTime().strftime("%d/%m/%Y, %I:%M %p")) }}
                                </div>
                                <div class="col-6 col-md-3">
                                    {{ infoBox.infoBox("Status", order.getStatusText()) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    {{ infoBox.infoBox("Delivery Address", order.getAddress().getLocation() if order.getAddress() else "Please set an address for delivery!", type="warning" if not order.getAddress() else None) }}
                                </div>
                            </div>
                            <a href="{{ url_for("profile.viewOrderHistoryDetails", id=order.getId()) }}" class="me-1">
                                <button class="btn custom-btn">Order Details</button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card white">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        No orders have been made yet.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}