{% extends "base.html" %}
{% block title %}
    Our Treatments
{% endblock %}
{% block description %}View our full treatment catalogue on TCM Shifu{% endblock %}
{% block nav %}
    {{ normalNavControls.normalNavControls(3) }}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">medical_services</span>
        <div>
            <h1>Our Treatments</h1>
            <h6 class="m-0">Book treatments and consultations on TCM Shifu</h6>
        </div>
    </div>
    <div class="row">
        <p>Our clinic let you book your consultations and treatments via TCM Shifu! Purchase treatments and book anytime
            at ease.</p>
        <hr>
    </div>
    {% if treatments|length > 0 %}
    <div class="row mb-3">
        <h4>Just Added</h4>
        {% for item in treatments[-4:]|reverse %}
            <div class="col-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
                <div class="card white mb-3">
                    <div class="ratio ratio-16x9">
                        <img src="/{{ item.getImages()[0] }}" class="product-img card-img ratio ratio-16x9">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ item.getName() }}</h5>
                        <p class="card-text flex-grow-1 mb-3">{{ item.getDescription()|truncate(128, True, "...") }}</p>
                        <div class="d-flex align-items-center product-card-actions">
                            <a href="{{ url_for("treatments.viewTreatment", id=item.getId()) }}">
                                <button class="btn custom-btn d-flex align-items-center"><span class="material-icons me-1">help_outline</span>Details</button>
                            </a>
                            <div class="flex-grow-1 d-flex justify-content-end white">
                                ${% if item.getOnSale() %}{{ "%.2f"|format(item.getSalePrice()) }}{% else %}
                                {{ "%.2f"|format(item.getPrice()) }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <h4>All Treatments</h4>
        {% for item in treatments %}
            <div class="col-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
                <div class="card white mb-3">
                    <div class="ratio ratio-16x9">
                        <img src="/{{ item.getImages()[0] }}" class=" product-img card-img ratio ratio-16x9">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ item.getName() }}</h5>
                        <p class="card-text flex-grow-1 mb-3">{{ item.getDescription()|truncate(128, True, "...") }}</p>
                        <div class="d-flex align-items-center product-card-actions">
                            <a href="{{ url_for("treatments.viewTreatment", id=item.getId()) }}">
                                <button class="btn custom-btn d-flex align-items-center"><span class="material-icons me-1">help_outline</span>Details</button>
                            </a>
                            <div class="flex-grow-1 d-flex justify-content-end white">
                                ${% if item.getOnSale() %}{{ "%.2f"|format(item.getSalePrice()) }}{% else %}
                                {{ "%.2f"|format(item.getPrice()) }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <div class="card white">
                    <div class="card-body d-flex justify-content-center">
                        No treatments available on TCM Shifu
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}