{% extends "base.html" %}
{% block title %}
    Our Treatments
{% endblock %}
{% block description %}View our full treatment catalogue on TCM Shifu{% endblock %}
{% block nav %}
    {{ normalNavControls.normalNavControls(3) }}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">medical_services</span>
        <div>
            <h1>Our Treatments</h1>
            <h6 class="m-0">Book treatments and consultations on TCM Shifu</h6>
        </div>
    </div>
    <div class="row">
        <p>Our clinic let you book your consultations and treatments via TCM Shifu! Purchase treatments and book anytime
            at ease.</p>
        <hr>
    </div>
    {% if treatments|length > 0 %}
        {% if saleTreatments|length > 0 %}
            <div class="row mb-3">
                <h4>Treatments On Sale</h4>
                {% for item in saleTreatments %}
                    {{ productItem.productItem(item, "treatment") }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <h4>All Treatments</h4>
            {% for item in treatments %}
                {{ productItem.productItem(item, "treatment") }}
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <div class="card white">
                    <div class="card-body d-flex justify-content-center">
                        No treatments available on TCM Shifu
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}