{% extends "base.html" %}
{% block title %}Tracker{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block nav %}
    {{ normalNavControls.normalNavControls() }}
{% endblock %}
{% block fluidContent %}
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center main-splash">
            <div class="text-center">
                <h1>{{ websiteName }}</h1>
                <h2 class="h5">TCM Shop, Appointments, Education</h2>
                <div class="mt-4">
                    {% if session["user"] %}
                        <a href="#"><button class="btn custom-btn">My Account</button></a>
                    {% else %}
                        <a href="{{ url_for("auth.login") }}"><button class="btn custom-btn">Login Now</button></a>
                    {% endif %}
                    <a href="#features"><button class="btn custom-btn">Our Services</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row mt-3">
        <h2 class="mb-5">About {{ websiteName }}</h2>
        <div class="col-md-3">
            <!--Logo Image-->
            <img src="{{ url_for('static', filename='img/logo_512.png') }}" class="w-100 logo d-none d-md-block">
        </div>
        <div class="col-md-9">
            <!--About content-->
            <p class="ms-0 ms-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <h2 class="mb-5" id="features">{{ websiteName }} Features</h2>
        <div class="col-lg-4 text-center mb-4 mb-lg-0">
            <span class="material-icons feature-icon p-3 mb-3">shopping_cart</span>
            <h5>TCM Online Shop</h5>
            <p>Shop for TCH herbs or medicine on TCM Shifu</p>
            <a href="#"><button class="btn custom-btn">Visit Shop</button></a>
        </div>
        <div class="col-lg-4 text-center mb-4 mb-lg-0">
            <span class="material-icons feature-icon p-3 mb-3">event</span>
            <h5>Appointment Booking</h5>
            <p>Book TCM Appointments online</p>
            <a href="#"><button class="btn custom-btn">Start Booking</button></a>
        </div>
        <div class="col-lg-4 text-center">
            <span class="material-icons feature-icon p-3 mb-3">school</span>
            <h5>TCM Education Blog</h5>
            <p>Read blogs and learn more about TCM</p>
            <a href="#"><button class="btn custom-btn">Visit Blog</button></a>
        </div>
    </div>
{% endblock %}
