{% extends "base.html" %}
{% block title %}All Users{% endblock %}
{% block nav %}
    {% include "includes/adminNavControls.html" %}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.2/r-2.4.0/datatables.min.js"></script>
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">inventory_2</span>
        <div>
            <h1>View Products</h1>
            <h6 class="m-0">View all products</h6>
        </div>
    </div>
    <a href="{{ url_for("adminProducts.addProduct") }}"><button class="btn custom-btn mb-3">Create New Product</button></a>
    <div class="row overflow-auto">
        <div class="col-12">
            <table class="table table-striped w-100" id="products">
                <thead>
                    <th>Product Name</th>
                    <th>Stock</th>
                    <th>Normal Price</th>
                    <th>Sale Price</th>
                    <th>On Sale?</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                {% if products|length > 0 %}
                    {% for product in products %}
                        <tr>
                            <td>{{ products[product]["name"] }}</td>
                            <td>{{ products[product]["quantity"] }}</td>
                            <td>${{ "%.2f"|format(products[product]["price"]) }}</td>
                            <td>${{ "%.2f"|format(products[product]["salePrice"]) }}</td>
                            <td>{{ products[product]["onSale"] }}</td>
                            <td class="text-nowrap">
                                <a href="{{ url_for("products.viewProduct", id=products[product]["id"]) }}"><button class="btn custom-btn">View Product</button></a>
                                <a href="{{ url_for("adminProducts.editProduct", id=products[product]["id"]) }}"><button class="btn custom-btn">Edit</button></a>
                                <a onclick="showDeleteModal('{{ products[product]["name"]|urlencode }}', '{{ url_for("adminProducts.deleteProduct", id=products[product]["id"]) }}')"><button class="btn btn-danger">Delete</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLabel">Delete Product?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="delete-treatment-text">
                    Delete Product? (Placeholder)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a id="delete-treatment-link"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/viewProducts.js') }}"></script>
{% endblock %}
