{% extends "base.html" %}
{% block title %}All Users{% endblock %}
{% block nav %}
    {% include "includes/adminNavControls.html" %}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}"/>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.2/r-2.4.0/datatables.min.js"></script>
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">groups</span>
        <div>
            <h1>View Users</h1>
            <h6 class="m-0">View All Users</h6>
        </div>
    </div>
    <a href="{{ url_for("adminUsers.addUser") }}">
        <button class="btn custom-btn mb-3">Create New User</button>
    </a>
    <div class="row overflow-auto">
        <div class="col-12">
            <table class="table table-striped w-100" id="users">
                <thead>
                <th>E-mail</th>
                <th>Name</th>
                <th>Account Type</th>
                <th>Actions</th>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ users[user]["email"] }}</td>
                        <td>{{ users[user]["name"] }}</td>
                        <td>{{ users[user]["accountType"]|capitalize }}</td>
                        <td class="text-nowrap">
                            <a href="{{ url_for("adminTrackers.viewAllTrackers", email=users[user]["email"]) }}"><button class="btn custom-btn">View Medications</button></a>
                            <a href="{{ url_for("adminUsers.editUser", email=users[user]["email"]) }}"><button class="btn custom-btn">Edit</button></a>
                            <a href="{{ url_for("adminUsers.deleteUser", email=users[user]["email"]) }}"><button class="btn btn-danger">Delete</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#users').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}