{% extends "base.html" %}
{% block title %}
    Delete User
{% endblock %}
{% block nav %}
    {% include "includes/adminNavControls.html" %}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">delete</span>
        <div>
            <h1>Delete User</h1>
            <h6 class="m-0">{{ user.getEmail() }}</h6>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h2 class="h4">Delete User?</h2>
                <p class="text-danger">WARNING! This action cannot be undone! Input the account name to delete.</p>
                <div class="mb-3">
                    {{ formHelper.renderField(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ formHelper.renderField(form.submit) }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}