<div class="navbar-nav me-1">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="material-icons navbar-icon me-1">accessibility_new</span>Accessibility</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item d-flex align-items-center" onclick="increaseZoom()" style="cursor: pointer"><span class="material-icons me-1">add</span>Zoom In</a></li>
            <li><a class="dropdown-item d-flex align-items-center" onclick="decreaseZoom()" style="cursor: pointer"><span class="material-icons me-1">remove</span>Zoom Out</a></li>
            <li><a class="dropdown-item d-flex align-items-center" onclick="resetZoom()" style="cursor: pointer"><span class="material-icons me-1">undo</span>Reset Zoom</a></li>
        </ul>
    </li>
</div>