<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Users
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">View All Users</a></li>
        <li><a class="dropdown-item" href="#">Create User</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Products
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">View All Products</a></li>
        <li><a class="dropdown-item" href="#">Create New Product</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Appointments
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">View All Appointments</a></li>
        <li><a class="dropdown-item" href="#">Create New Appointment</a></li>
    </ul>
</li>