<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Users
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item d-flex align-items-center" href="{{ url_for("adminUsers.viewAllUsers") }}"><span class="material-icons me-1">groups</span>View All Users</a></li>
        <li><a class="dropdown-item d-flex align-items-center" href="{{ url_for("adminUsers.addUser") }}"><span class="material-icons me-1">person_add</span>Create User</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Products
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons me-1">inventory_2</span>View All Products</a></li>
        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons me-1">library_add</span>Create New Product</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Appointments
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons me-1">event</span>View All Appointments</a></li>
        <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons me-1">edit_calendar</span>Create New Appointment</a></li>
    </ul>
</li>