{% if session["user"] %}
    <div class="navbar-nav me-1">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ session["user"]["name"] }}
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons me-1">person</span>User Profile</a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons me-1">settings</span>Settings</a></li>
                <hr class="dropdown-divider">
                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons me-1">add</span>Increase Font Size</a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons me-1">remove</span>Decrease Font Size</a></li>
                {% if session["user"]["accountType"] == "admin" %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center" href="{{ url_for("adminUsers.viewAllUsers") }}"><span class="material-icons me-1">construction</span>Admin Panel</a></li>
                {% endif %}
                {% if session["user"]["accountType"] == "delivery" %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center" href="{{ url_for("adminUsers.viewAllUsers") }}"><span class="material-icons me-1">construction</span>Delivery Panel</a></li>
                {% endif %}
            </ul>
        </li>
    </div>
    <a href="/logout">
        <button class="btn btn-danger"><span class="material-icons logout">logout</span></button>
    </a>
{% else %}
    <a href="/login">
        <button class="btn custom-btn">Login/Register</button>
    </a>
{% endif %}