{% import "includes/formHelper.html" as formHelper %}
{% import "includes/infoBox.html" as infoBox %}
{% import "includes/profileControls.html" as profileControls %}
{% import "includes/normalNavControls.html" as normalNavControls %}
{% import "includes/deliveryStatus.html" as deliveryStatus %}
{% import "includes/productItem.html" as productItem %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - {{ websiteName }}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
          content="TCM, Traditional Chinese Medicine, clinic, treatments, medicine products, educational blog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#74A12E" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    {% block head %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-dark navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{ websiteName }}</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">{% block nav %}{% endblock %}</ul>
            <div class="d-block d-lg-flex align-items-center">
                {% block navRight %}{% endblock %}
            </div>
        </div>
    </div>
</nav>
{% if self.fluidContent() %}
    <div class="container-fluid overflow-auto">
        {% block fluidContent %}{% endblock %}
    </div>
{% endif %}
<div class="container flex-grow-1 overflow-auto mt-3 pb-3 mb-5" id="main">
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
        {% if warnings %}
            {% for warning in warnings %}
                <div class="alert alert-warning alert-dismissible fade show">
                    {{ warning|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ error|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
            {% for success in successes %}
                <div class="alert alert-success alert-dismissible fade show">
                    {{ success|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
<footer>
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <ul class="navbar-nav navbar-dark flex-lg-row me-auto">
                    <li class="nav-item me-lg-3">
                        <a class="nav-link d-flex align-items-center"
                           href="{{ url_for("enquiry.addEnquiry") }}"><span class="material-icons navbar-icon me-1">feedback</span>Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center"
                           href="{{ url_for("about") }}"><span class="material-icons navbar-icon me-1">info</span>About Website</a>
                    </li>
                </ul>
                <hr>
                <p class="footer-credit">TCM Shifu - 2022 - App Development Group 1</p>
            </div>
        </div>
        {% block footer %}{% endblock %}

    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6/index.global.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>