{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Register TCMProject Account (WIP)</h5>
                    <form method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Your Name</label>
                            {{ form.name(class_="form-control", placeholder="Name") }}
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail Address</label>
                            {{ form.email(class_="form-control", placeholder="E-mail Address") }}
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <label for="password" class="form-label">Password</label>
                                {{ form.password(class_="form-control", placeholder="New Password") }}
                            </div>
                            <div class="col-lg-6 mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                {{ form.confirmPassword(class_="form-control", placeholder="Confirm Password") }}
                            </div>
                        </div>
                        <input type="submit" value="Register Account" class="btn custom-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}