{% extends "base.html" %}
{% block title %}All Users{% endblock %}
{% block content %}
    <p>Under construction. Visit <a href="/test"><button class="btn custom-btn">The Testpage</button></a> for samples</p>
    <div class="d-flex">
        <a href="/login"><button class="btn custom-btn me-3">Login</button></a>
        <a href="/register"><button class="btn custom-btn me-3">Register</button></a>
        <a href="/logout"><button class="btn btn-danger me-3">Logout</button></a>
    </div>
{% endblock %}