{% extends "base.html" %}
{% block title %}
    {{ appointment.getName() }}
{% endblock %}
{% block nav %}
    {% include "includes/adminNavControls.html" %}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">event</span>
        <div>
            <h1>Appointment Details</h1>
            <h6 class="m-0">{{ appointment.getName() }}</h6>
        </div>
    </div>
    <a href="{{ url_for("adminAppointments.viewAllAppointments") }}" style="display: contents">
        <button class="btn custom-btn d-flex mb-3"><span class="material-icons me-1">arrow_back</span>Back to Calender
        </button>
    </a>
    <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <h2 class="h4 mb-3">Appointment Information</h2>
            {{ infoBox.infoBox("Appointment Name", appointment.getName()) }}
            {{ infoBox.infoBox("Date", appointment.getDate().strftime('%d/%m/%Y')) }}
            <div class="row">
                <div class="col-6">
                    {{ infoBox.infoBox("Start Time", appointment.getTime().strftime("%I:%M %p")) }}
                </div>
                <div class="col-6">
                    {{ infoBox.infoBox("End Time", appointment.getEndTime().strftime("%I:%M %p")) }}
                </div>
            </div>
            {{ infoBox.infoBox("Additional Notes", appointment.getNotes() if appointment.getNotes() else "N/A") }}
            <div class="d-flex">
                <a href="{{ url_for("adminAppointments.editAppointment", id=appointment.getId()) }}" class="me-1">
                    <button type="button" class="btn custom-btn">Edit</button>
                </a>
                <a onclick="showDeleteModal('{{ appointment.getName()|urlencode }}', '{{ url_for("adminAppointments.deleteAppointment", id=appointment.getId()) }}')">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="h4 mb-3">User Information</h2>
            <div class="row">
                <div class="col-lg-6">
                    {{ infoBox.infoBox("Name", appointment.getUser().getName()) }}
                </div>
                <div class="col-lg-6">
                    {{ infoBox.infoBox("Birthday", appointment.getUser().getBirthday().strftime('%d/%m/%Y') if appointment.getUser().getBirthday() else "Not Specified") }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ infoBox.infoBox("E-mail Address", appointment.getUser().getEmail()) }}
                </div>
                <div class="col-lg-6">
                    {{ infoBox.infoBox("Phone Number", appointment.getUser().getPhone() if appointment.getUser().getPhone() else "Not Specified") }}
                </div>
            </div>
            <a href="{{ url_for("adminTrackers.viewAllTrackers", email=appointment.getUser().getEmail()) }}">
                <button type="button" class="btn custom-btn">View Medications</button>
            </a>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLabel">Delete Appointment?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="delete-treatment-text">
                    Delete Appointment? (Placeholder)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a id="delete-treatment-link">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/viewAppointment.js') }}"></script>
{% endblock %}