{% extends "base.html" %}
{% block title %}Medication Details{% endblock %}
{% block nav %}
    {% include "includes/adminNavControls.html" %}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">medication</span>
        <div>
            <h1>View Medications</h1>
            <h6 class="m-0">{{ email }}</h6>
        </div>
    </div>
    <a href="{{ url_for("adminTrackers.viewAllTrackers", email=email) }}" style="display: contents">
        <button class="btn custom-btn d-flex mb-3"><span class="material-icons me-1">arrow_back</span>Back to list</button>
    </a>
    <div class="row">
        <div class="col">
            <h2 class="h4">Medication Information</h2>
            {{ infoBox.infoBox("Medication Name", trackers.getName()) }}
            {{ infoBox.infoBox("Description", trackers.getDescription()) }}
            {{ infoBox.infoBox("Duration", trackers.getDate().strftime('%d/%m/%Y') + " - " + trackers.getEnddate().strftime('%d/%m/%Y')) }}
            {{ infoBox.infoBox("Dosage", trackers.getNo_of_pills() + " pill(s) / " + trackers.getFrequency_of_pills() + " time(s) per day") }}
            {{ infoBox.infoBox("Notes", trackers.getNotes() if trackers.getNotes() != "" else "Not Specified") }}
        </div>
        <a href="{{ url_for("adminTrackers.editTracker", email=email, id=id) }}"><button class="btn custom-btn">Edit</button></a>
    </div>
{% endblock %}
{% block extras %}
{% endblock %}
