{% extends "base.html" %}
{% block title %}View Medications{% endblock %}
{% block nav %}
    {% include "includes/adminNavControls.html" %}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}"/>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.2/r-2.4.0/datatables.min.js"></script>
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">medication</span>
        <div>
            <h1>View Medications</h1>
            <h6 class="m-0">{{ email }}</h6>
        </div>
    </div>
    <a href="{{ url_for("adminTrackers.addTracker", email=email) }}"><button class="btn custom-btn mb-3">Create Medication</button></a>
    <div class="row overflow-auto">
        <div class="col-12">
            <table class="table table-striped w-100" id="medications">
                <thead>
                <th>Medication Name</th>
                <th>Duration</th>
                <th>Dosage</th>
                <th>Actions</th>
                </thead>
                <tbody>
                {% if trackers|length > 0 %}
                    {% for tracker in trackers %}
                        <tr>
                            <td>{{ tracker.getName() }}</td>
                            <td>{{ tracker.getDate().strftime('%d/%m/%Y') }} - {{ tracker.getEnddate().strftime('%d/%m/%Y') }}</td>
                            <td>{{ tracker.getNo_of_pills() }} pill(s) / {{ tracker.getFrequency_of_pills() }} time(s) per day</td>
                            <td class="text-nowrap">
                                <a href="{{ url_for("adminTrackers.viewTracker", email=email, id=loop.index - 1) }}"><button class="btn custom-btn">View Details</button></a>
                                <a href="{{ url_for("adminTrackers.editTracker", email=email, id=loop.index - 1) }}"><button class="btn custom-btn">Edit</button></a>
                                <a onclick="showDeleteModal('{{ tracker.getName()|urlencode }}', '{{ url_for("adminTrackers.deleteTracker", email=email, id=loop.index - 1) }}')"><button class="btn btn-danger">Delete</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLabel">Delete Medication?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="delete-treatment-text">
                    Delete Medication? (Placeholder)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a id="delete-treatment-link"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/viewMedications.js') }}"></script>
{% endblock %}