{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block nav %}
    {% include "includes/normalNavControls.html" %}
{% endblock %}
{% block content %}
    <div class="row mt-3">
        <div class="date">
        <h3 class="bold" style="font-weight: bold">Order Date</h3>
        <span class=""></span> <p>{{ }}</p>
        <h3>Total: </h3> <h3>{{ }}</h3>
    </div>
    <div class="row mt-5 mb-5">
        <h2 class="mb-5" id="features">{{ websiteName }} Features</h2>
        <div class="col-lg-4 text-center mb-4 mb-lg-0">
            <span class="material-icons feature-icon p-3 mb-3">shopping_cart</span>
            <h5>TCM Online Shop</h5>
            <p>Shop for TCH herbs or medicine on TCM Shifu</p>
            <a href="#"><button class="btn custom-btn">Visit Shop</button></a>
        </div>
        <div class="col-lg-4 text-center mb-4 mb-lg-0">
            <span class="material-icons feature-icon p-3 mb-3">event</span>
            <h5>Appointment Booking</h5>
            <p>Book TCM Appointments online</p>
            <a href="#"><button class="btn custom-btn">Start Booking</button></a>
        </div>
        <div class="col-lg-4 text-center">
            <span class="material-icons feature-icon p-3 mb-3">school</span>
            <h5>TCM Education Blog</h5>
            <p>Read blogs and learn more about TCM</p>
            <a href="#"><button class="btn custom-btn">Visit Blog</button></a>
        </div>
    </div>
{% endblock %}