{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block nav %}
    {{ normalNavControls.normalNavControls() }}
{% endblock %}
{% block head %}
    <script>
        let c_secret = '{{ clientSecret }}'
        let emailAddress = '{{ session["user"]["email"] }}'
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', filename='js/checkout.js') }}" defer></script>
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">shopping_cart</span>
        <div>
            <h1>Checkout</h1>
            <h6 class="m-0">Review checkout details</h6>
        </div>
    </div>
    <form id="payment-form">
        <div class="row">
            <div class="col-lg-9 order-1 order-lg-0">
                <div class="card white mb-3">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <h6 class="card-title m-0">Payment Information</h6>
                            <span class="material-icons ms-1" style="font-size: 1rem" data-bs-toggle="tooltip" data-bs-title="Secure checkout by Stripe" data-bs-placement="right">lock</span>
                        </div>
                        <div id="payment-element">

                        </div>
                        <div id="error-message" class="mt-1 text-danger d-none">
                            <!-- Display error message to your customers here -->
                        </div>
                    </div>
                </div>
                <div class="card white">
                    <div class="card-body">
                        <h6 class="card-title mb-3">Delivery Information</h6>
                        <div class="row mb-3">
                            <div class="col-12">
                                {{ formHelper.renderField(form.delivery) }}
                            </div>
                        </div>
                        <a href="{{ url_for('profile.viewAddresses') }}"><button class="btn custom-btn" type="button">Manage Addresses</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-0 order-lg-1 mb-3 mb-lg-0">
                <div class="card white">
                    <div class="card-body">
                        <h6 class="card-title mb-3">Payment Summary</h6>
                        <div class="d-flex">
                            <h6 class="fw-bold flex-grow-1">Subtotal</h6>
                            <h6>${{ "%.2f"|format(user.getCartSubtotalPrice()) }}</h6>
                        </div>
                        <div class="d-flex">
                            <h6 class="fw-bold flex-grow-1">GST (8%)</h6>
                            <h6>${{ "%.2f"|format(user.getCartGST()) }}</h6>
                        </div>
                        <div class="d-flex">
                            <h6 class="fw-bold flex-grow-1">Delivery Fee</h6>
                            <h6>${{ "%.2f"|format(user.getDeliveryPrice()) }}</h6>
                        </div>
                        <div class="d-flex">
                            <h6 class="fw-bold flex-grow-1">Coupon</h6>
                            <h6>-${{ "%.2f"|format(discount) }}</h6>
                        </div>
                        <hr>
                        <div class="d-flex align-items-center">
                            <h6 class="fw-bold flex-grow-1">Total</h6>
                            <h4>${{ "%.2f"|format(price) }}</h4>
                        </div>
                        <input type="submit" value="Pay with Stripe" class="w-100 btn custom-btn" id="submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}