{% extends "base.html" %}
{% block title %}All Coupons{% endblock %}
{% block nav %}
    {% include "includes/adminNavControls.html" %}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">discount</span>
        <div>
            <h1>View Coupons</h1>
            <h6 class="m-0">View and manage discount coupons</h6>
        </div>
    </div>
    <form method="post">
        <div class="row mb-4">
            <div class="col-lg-9 mb-3 mb-lg-0">
                {{ form.name(class_="form-control", placeholder="Search by Coupon Name...") }}
            </div>
            <div class="col-lg-3">
                <input type="submit" class="btn custom-btn w-100" value="Search">
            </div>
        </div>
    </form>
    <a href="{{ url_for("adminCoupons.addCoupon") }}">
        <button class="btn custom-btn mb-3">Create New Coupon</button>
    </a>
    <div class="row overflow-auto">
        <div class="col-12">
            <table class="table table-striped w-100">
                <thead>
                    <th>Coupon Name</th>
                    <th>Code</th>
                    <th>Discount Amt</th>
                    <th>Duration</th>
                    <th>Valid?</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                {% if coupons|length > 0 %}
                    {% for coupon in coupons %}
                        <tr>
                            <td>{{ coupons[coupon]["name"] }}</td>
                            <td>{{ coupons[coupon]["code"] }}</td>
                            <td>{{ coupons[coupon]["discount"] }}%</td>
                            <td>{{ coupons[coupon]["startDate"] }} to {{ coupons[coupon]["endDate"] }}</td>
                            <td>{{ coupons[coupon].isValid() }}</td>
                            <td class="text-nowrap">
                                <a href="#"><button class="btn custom-btn">View Details</button></a>
                                <a href="{{ url_for("adminCoupons.editCoupon", id=coupons[coupon]["id"]) }}"><button class="btn custom-btn">Edit</button></a>
                                <a onclick="showDeleteModal('{{ coupons[coupon]["name"] }}', '{{ url_for("adminCoupons.deleteCoupon", id=coupons[coupon]["id"]) }}')"><button class="btn btn-danger">Delete</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">No coupons added yet.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLabel">Delete Coupon?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="delete-treatment-text">
                    Delete Treatment? (Placeholder)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a id="delete-treatment-link"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/viewCoupons.js') }}"></script>
{% endblock %}