{% extends "base.html" %}
{% block title %}All Treatments{% endblock %}
{% block nav %}
    {% include "includes/adminNavControls.html" %}
{% endblock %}
{% block navRight %}
    {% include "includes/userControls.html" %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.2/r-2.4.0/datatables.min.js"></script>
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center mb-4">
        <span class="material-icons me-3" style="font-size: 60px">medical_services</span>
        <div>
            <h1>View Treatments</h1>
            <h6 class="m-0">View and manage treatments</h6>
        </div>
    </div>
    <a href="{{ url_for("adminTreatments.addTreatment") }}">
        <button class="btn custom-btn mb-3">Create New Treatment</button>
    </a>
    <div class="row overflow-auto">
        <div class="col-12">
            <table class="table table-striped w-100" id="treatments">
                <thead>
                <th>Treatment Name</th>
                <th>Duration</th>
                <th>Normal Price</th>
                <th>Sale Price</th>
                <th>On Sale?</th>
                <th>Actions</th>
                </thead>
                <tbody>
                {% if treatments|length > 0 %}
                    {% for treatment in treatments %}
                        <tr>
                            <td>{{ treatments[treatment]["name"] }}</td>
                            <td>{{ treatments[treatment]["duration"] }} Hours</td>
                            <td>${{ "%.2f"|format(treatments[treatment]["price"]) }}</td>
                            <td>${{ "%.2f"|format(treatments[treatment]["salePrice"]) }}</td>
                            <td>{{ treatments[treatment]["onSale"] }}</td>
                            <td class="text-nowrap">
                                <a href="{{ url_for("treatments.viewTreatment", id=treatments[treatment]["id"]) }}"><button class="btn custom-btn">Store Page</button></a>
                                <a href="{{ url_for("adminTreatments.editTreatment", id=treatments[treatment]["id"]) }}"><button class="btn custom-btn">Edit</button></a>
                                <a onclick="showDeleteModal('{{ treatments[treatment]["name"]|urlencode }}', '{{ url_for("adminTreatments.deleteTreatment", id=treatments[treatment]["id"]) }}')"><button class="btn btn-danger">Delete</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLabel">Delete Treatment?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="delete-treatment-text">
                    Delete Treatment? (Placeholder)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a id="delete-treatment-link"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/viewTreatments.js') }}"></script>
{% endblock %}